@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--w);
    cursor: default;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

:root {
    --w: #F5F5F5;
    --b: #07080D;
    --mid: #AFB6DD;
    --mid_d: #7e7eae;
    --d: #bdbcbc6e;
    --tp_d: #000000bc;
    --tp_l: #ffffff14;
    --pad: .5rem;
}

body {
    overflow-x: hidden;
    background-color: var(--b);
}

h1 {
    font-size: 15rem;
    font-weight: bolder;
    color: var(--tp_d);
}

a:hover,
a>img:hover,
button:hover,
.search-input:hover {
    cursor: pointer;
}

/* logos */
.logo {
    width: auto;
    height: auto;
}

.top {
    height: 50px;
    margin-right: 20px;
}

.bottom {
    position: relative;
    bottom: 5rem;
    right: -75em;
}

.help {
    position: fixed;
    bottom: 5rem;
    right: 0;
}

.help:hover {
    transition-duration: 10ms;
    transform: scale(1.1);
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 var(--pad);
    background-color: var(--tp_l);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1em;
    float: left;
    color: var(--w);
    text-align: center;
    padding: var(--pad);
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    padding: var(--pad);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: transparent;
    color: var(--w);
}

.dropdown-content {
    padding: var(--pad);
    display: none;
    position: absolute;
    background-color: var(--tp_d);
    border-radius: 1rem;
    z-index: 1;
    min-width: 10rem;
}

.dropdown-content h4 {
    font-size: 1rem;
    text-align: center;
    color: var(--mid_d);
    margin: var(--pad) 0;
}

.dropdown-content a {
    font-size: .7rem;
    float: none;
    color: var(--w);
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--mid);
    color: var(--w);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contact-button {
    margin: 0 1rem;
    text-decoration: none;
    border: .05rem solid var(--mid_d);
    border-radius: 1rem;
}

.search-input {
    background: transparent;
    border: .01rem solid var(--mid);
    width: 18rem;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
}

/* hero slides */
.hero-section,
.slides {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: none;
}

.slides:first-child {
    display: block;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    z-index: 1;
}

#dynamic-button {
    border: .15rem solid var(--mid);
    border-radius: 2rem;
    padding: 1rem;
    background-color: transparent;
}

/* trusted-by slides */
.tech-slideshow {
    height: 120px;
    margin: var(--pad) 0;
    position: relative;
    overflow: hidden;
}

.tech-slideshow>div {
    height: 60px;
    width: 4692px;
    background: url("Cont/Frame 1116606620.png");
    position: absolute;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 12s linear infinite;
}

/* content */
.fl {
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
    gap: 1rem;
}

.fl img {
    height: 1.2rem;
    width: auto;
}

.ftr img {
    display: inline-block;
    height: 10em;
}

section h4 {
    padding-left: 5rem;
}

/* footer */
footer {
    padding: 2rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 98vw;
}

.lst {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.lst ul {
    list-style: none;
}

.lst a {
    text-decoration: none;
}

.ebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ebar a {
    text-decoration: none;
}

.btn-left,
.btn-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

@media (max-width: 1199px) {
    .hero-section {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .hero-section {
        object-fit: contain;
        width: auto;
        height: 100vh;
    }
}