* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: default;
}

:root {
    --white: #f1f1f1;
    --wh: #f0ffff;
    --black: #070606;
    --grey: #000000bc;
}

body {
    background-color: var(--black);
}

h1 {
    font-size: 15rem;
    font-weight: bolder;
    color: var(--grey);
}

/* logos */

.logo {
    width: 50px;
    height: auto;
    z-index: 1;
}

.top {
    margin-right: 20px;
}

.bottom {
    position: fixed;
    bottom: 30px;
    right: 15px;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff14;
    z-index: 1000;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: transparent;
    color: var(--wh);
}

.dropdown-content {
    padding: 8px;
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 8px;
    z-index: 1;
    min-width: 140px;
    box-shadow: 0 4px 8px 0 var(--grey);
}

.dropdown-content h4 {
    color: var(--grey);
    font-size: 14px;
    margin: 8px 0;
}

.dropdown-content a {
    float: none;
    color: var(--grey);
    text-decoration: none;
    display: block;
    padding: 6px 12px;
    font-size: 13px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #a6a6a686;
    color: var(--wh);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contact-button {
    cursor: pointer;
    margin: 0 1rem;
    text-decoration: none;
    border: .05rem solid var(--black);
    border-radius: 1rem;
}

.search-input {
    background: transparent;
    border-radius: 2rem;
    padding: .4rem;
    text-align: center;
}

/* hero slides */

.hero-section,
.slides {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: none;
}

.slides:first-child {
    display: block;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    z-index: 1;
}

#dynamic-button {
    border: 3px solid var(--black);
    border-radius: 2rem;
    padding: 1rem;
    background-color: transparent;
}

/* trusted-by slides */

.tech-slideshow {
    height: 200px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.tech-slideshow>div {
    height: 60px;
    width: 4692px;
    background: url("Cont/Frame 1116606620.png");
    position: absolute;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 10s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

/* Media Queries */

@media (max-width: 1199px) {
    .hero-section {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .hero-section {
        object-fit: contain;
        width: auto;
        height: 100vh;
    }
}