* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1;
}

.hero-section {
    width: 100vw;
    height: 100vh;
}

.slides {
    display: none;
    width: 100%;
    height: 100%;
}

.slides:first-child {
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.dropdown {
    position: relative;
}

.dropbtn,
.services-link,
.contact-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
}

.dropbtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.contact-button {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: rgba(239, 239, 239, 0.436);
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 15rem;
    color: #000000aa
}

#dynamic-button {
    border: 3px solid black;
    border-radius: 2rem;
    padding: 1rem;
    background-color: transparent;
}